INCIDENT_PIPELINE_DATA_ROOT=/Volumes/*somedrive*/incident_pipeline_data
INCIDENT_PIPELINE_NTSB_SOURCE_ROOT=/Volumes/*somedrive*/incident_pipeline_data/ntsb
INCIDENT_PIPELINE_NTSB_RAW_ROOT=/Volumes/*somedrive*/incident_pipeline_data/ntsb/raw
INCIDENT_PIPELINE_NTSB_INGESTION_ROOT=/Volumes/*somedrive*/incident_pipeline_data/ntsb/ingestion
INCIDENT_PIPELINE_NTSB_EXTRACT_ROOT=/Volumes/*somedrive*/incident_pipeline_data/ntsb/extract
INCIDENT_PIPELINE_NTSB_MANIFESTS_ROOT=/Volumes/*somedrive*/incident_pipeline_data/ntsb/manifests
INCIDENT_PIPELINE_NTSB_LOGS_ROOT=/Volumes/*somedrive*/incident_pipeline_data/ntsb/logs
INCIDENT_PIPELINE_MANIFEST_DB_PATH=/Volumes/*somedrive*/incident_pipeline_data/ntsb/manifests/manifest.db

NTSB_ACQUIRE_DATA_ROOT=/Volumes/*somedrive*/incident_pipeline_data/ntsb/raw/acquisition
NTSB_ACQUIRE_SQLITE_PATH=/Volumes/*somedrive*/incident_pipeline_data/ntsb/raw/acquisition/state/acquisition.db
NTSB_ACQUIRE_DOWNSTREAM_RAW_ROOT=/Volumes/*somedrive*/incident_pipeline_data/ntsb/raw
